<div class="row text-left">
  <span class="text-bold-500 primary float-left mr-1">
    <a (click)="goBack()">
      <i class="ft-arrow-left font-small-3"></i> Back
    </a>
  </span>
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ title }}</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate>
            <div class="form-group row">
              <label class="col-md-3" for="centre_name">
                Centre Name<sup class='text-danger'>*</sup>
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="centre_name" formControlName="centre_name" maxlength="100"
                  placeholder="Enter Centre Name">
                <app-control-messages fieldName="Centre name" [control]="regularForm.controls['centre_name']">
                </app-control-messages>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3" for="abn_number">
                ABN Number<sup class='text-danger'>*</sup>
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="abn_number" formControlName="abn_number" maxlength="50"
                  placeholder="Enter Abn Number">
                <app-control-messages fieldName="ABN number" [control]="regularForm.controls['abn_number']">
                </app-control-messages>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3" for="phone_number">
                Phone Number<sup class='text-danger'>*</sup>
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="phone_number" formControlName="phone_number" maxlength="10"
                  placeholder="Enter Phone Number">
                <app-control-messages fieldName="Phone number" [control]="regularForm.controls['phone_number']">
                </app-control-messages>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3" for="mobile_number">
                Mobile Number<sup class='text-danger'>*</sup>
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="mobile_number" formControlName="mobile_number"
                  maxlength="10" placeholder="Enter Mobile Number">
                <app-control-messages fieldName="Mobile number" [control]="regularForm.controls['mobile_number']">
                </app-control-messages>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3" for="email">
                Email<sup class='text-danger'>*</sup>
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter Email Address">
                <app-control-messages fieldName="Email" [control]="regularForm.controls['email']">
                </app-control-messages>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3" for="service_provider_number">
                Service Provider Number<sup class='text-danger'>*</sup>
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="service_provider_number"
                  formControlName="service_provider_number" maxlength="10" placeholder="Enter Service Provider Number">
                <app-control-messages fieldName="Service Provider Number"
                  [control]="regularForm.controls['service_provider_number']">
                </app-control-messages>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3" for="provider_approval_number">
                Provider Approval Number<sup class='text-danger'>*</sup>
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="provider_approval_number"
                  formControlName="provider_approval_number" maxlength="10" placeholder="Enter Service Provider Number">
                <app-control-messages fieldName="Provider Approval Number"
                  [control]="regularForm.controls['provider_approval_number']">
                </app-control-messages>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3" for="license_capacity">
                License Capacity<sup class='text-danger'>*</sup>
              </label>
              <div class="col-md-9">
                <select class="form-control" formControlName="license_capacity">
                  <option value="" disabled>Choose License Capacity</option>
                  <option value="1">10-20 Child</option>
                  <option value="2">20+ Child</option>
                </select>
                <app-control-messages fieldName="License Capacity" [control]="regularForm.controls['license_capacity']">
                </app-control-messages>
              </div>
            </div>

            <div class="form-group mt-2">
              <button type="submit" class="btn btn-success btn-raised mr-1">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>