<style>
  #toggle-password {
    float: right;
    margin-right: 10px;
    margin-top: -27px;
  }
</style>
<section id="login">
  <div class="container-fluid">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card gradient-indigo-purple text-center width-400">
          <div class="card-img overlap">
            <img alt="fiscus" class="mb-1" src="assets/img/login-logo.png" width="190">
          </div>
          <div class="card-body">
            <div class="card-block">
              <h2 class="white">Login</h2>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group">
                  <div class="col-md-12">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email Address" formControlName="email" required>
                    <app-control-messages fieldName="email" [control]="loginForm.controls['email']">
                    </app-control-messages>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Your Password" #Password formControlName="password" required>
                    <span (click)="togglePassword($event, Password)" class="{{toggleEye}}" id="toggle-password"></span>
                    <app-control-messages fieldName="password" [control]="loginForm.controls['password']">
                    </app-control-messages>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-pink btn-block btn-raised">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>