<div class="row text-left">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          {{ title }}
          <a title="ADD" (click)="open(content)" class="btn btn-primary mr-1 btn-fab pull-right">
            Add Centre<i class="ft-plus-circle"></i>
          </a>
        </h4>
      </div>
      <div class="border-top my-3"></div>
      <div class="card-body">
        <div class="card-block">
          <section class="search-sec ml-2">
            <form novalidate="novalidate">
              <div class="row">
                <div class="col-lg-12 pull-left">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 p-1">
                      <input type="text" [(ngModel)]="searchObj.centre_name" name="centre_name"
                        class="form-control search-slt" placeholder="Enter Centre Name"
                        (keyup.enter)="search($event)" />
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 p-1">
                      <a title="Search" (click)="setPage({ offset: 0 })" class="btn btn-primary mr-1 btn-fab"
                        [class.disabled]="!searchObj.centre_name ? true : false">
                        <i class="ft-search"></i>
                      </a>
                      <a title="Reset" (click)="searchObj = {}; setPage({ offset: 0 })"
                        class="btn btn-danger mr-1 btn-fab">
                        <i class="ft-x"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </section>
          <div class="border-top my-3"></div>
          <section>
            <ngx-datatable class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [externalSorting]="true"
              [count]="page.totalRecords" [offset]="page.currentPage" [limit]="page.recordPerPage"
              (page)="setPage($event)" [scrollbarH]="true" (sort)="sortCallback($event)"
              [sorts]="[{prop: 'id', dir: 'desc'}]">
              <ngx-datatable-column [sortable]="true">
                <ng-template ngx-datatable-header-template>
                  <span>Name</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ row?.centre_name || '-'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="true">
                <ng-template ngx-datatable-header-template>
                  <span>Email</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ row?.email || '-'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="true">
                <ng-template ngx-datatable-header-template>
                  <span>ABN Number</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ row?.abn_number || '-'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="true">
                <ng-template ngx-datatable-header-template>
                  <span>Mobile</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <input type="password" #Password [value]="row?.mobile_number"
                    (click)="Password.type = Password.type === 'password' ? 'text' : 'password';"
                    [ngStyle]="rowIndex % 2 == 0 ? {'background-color':'#f2f2f2'} : ''"
                    style="cursor: pointer; border: none" readonly>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="true">
                <ng-template ngx-datatable-header-template>
                  <span>Provider Approval</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ row?.provider_approval_number || '-'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="true">
                <ng-template ngx-datatable-header-template>
                  <span>Service Provider</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ row?.service_provider_number || '-'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="true" name="Id">
                <ng-template ngx-datatable-header-template>
                  <span>Created At</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{ row?.created_at | date:'dd MMM, yyyy, h:mm a' || '-' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Action
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <a [routerLink]="['/centre/view']" title="View Detail" [queryParams]="{ id: row.id }"
                    class="btn btn-secondary mr-1 btn-fab">
                    <i class="ft-eye"></i>
                  </a>
                  <a title="Delete" (click)="delete(row.id)" class="btn btn-danger mr-1 btn-fab">
                    <i class="ft-trash-2"></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>