<!--Centre View Starts-->
<section id="about">
  <div class="row">
    <div class="col-12">
      <span class="text-bold-500 secondary float-left mr-1">
        <a [routerLink]="['/centre/list']">
          <i class="ft-arrow-left font-small-3"></i> Back
        </a>
      </span>
    </div>
    <div class="col-12">
      <div class="content-header">{{title}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Centre Information</h5>
          <span class="text-bold-500 primary float-right">
            <a [routerLink]="['/centre/edit']" [queryParams]="{ id: centre?.id }">
              <i class="ft-edit font-small-3"></i>
              Update
            </a>
          </span>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a><i class="ft-user font-small-3"></i> Name:</a>
                    </span>
                    <span class="display-block overflow-hidden">
                      {{centre?.centre_name}}
                    </span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a><i class="ft-mail font-small-3"></i> Email:</a>
                    </span>
                    <span class="display-block overflow-hidden">
                      {{centre?.email}}
                    </span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a><i class="ft-smartphone font-small-3"></i> Mobile:</a>
                    </span>
                    <span class="display-block overflow-hidden">
                      <input type="password" #Mobile [value]="centre?.mobile_number"
                        (click)="Mobile.type = Mobile.type === 'password' ? 'text' : 'password';"
                        style="cursor: pointer; border: none" readonly>
                    </span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a><i class="fa fa-tasks"></i> Service Provider Number:</a>
                    </span>
                    <span class="display-block overflow-hidden">
                      {{ centre?.service_provider_number || 'NA' }}
                    </span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a><i class="fa fa-id-card-o"></i> License Capacity:</a>
                    </span>
                    <span class="display-block overflow-hidden">
                      {{ (centre?.license_capacity && centre?.license_capacity == 1 ? '10-20 Child' : '20+ Child') || 'NA' }}
                    </span>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-6">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a><i class="ft-calendar font-small-3"></i> Created Date:</a>
                    </span>
                    <span class="display-block overflow-hidden">
                      {{ centre?.created_at | date:'dd/MM/yyyy, h:mm a' || '-' }}
                    </span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a><i class="fa fa-database "></i> ABN Number:</a>
                    </span>
                    <span class="display-block overflow-hidden">
                      {{ centre?.abn_number || 'NA' }}
                    </span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a><i class="fa fa-phone"></i> Phone:</a>
                    </span>
                    <span class="display-block overflow-hidden">
                      <input type="password" #Password [value]="centre?.phone_number"
                        (click)="Password.type = Password.type === 'password' ? 'text' : 'password';"
                        style="cursor: pointer; border: none" readonly>
                    </span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a><i class="fa fa-product-hunt"></i> Provider Approval Number:</a>
                    </span>
                    <span class="display-block overflow-hidden">
                      {{ centre?.provider_approval_number || 'NA' }}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Centre Users
            <a title="Add User" (click)="open(content)" class="btn btn-primary mr-1 btn-fab pull-right">Add User <i
                class="ft-plus-circle"></i>
            </a>
          </h5>
        </div>
        <div class="card-body">
          <div class="card-block">
            <section>
              <ngx-datatable class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [externalSorting]="true"
                [count]="page.totalRecords" [offset]="page.currentPage" [limit]="page.recordPerPage"
                (page)="setPage($event)" [scrollbarH]="true" (sort)="sortCallback($event)"
                [sorts]="[{prop: 'id', dir: 'desc'}]">
                <ngx-datatable-column [sortable]="true">
                  <ng-template ngx-datatable-header-template>
                    <span>Name</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row?.user?.full_name || '-'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true">
                  <ng-template ngx-datatable-header-template>
                    <span>Email</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row?.user?.email || '-'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true">
                  <ng-template ngx-datatable-header-template>
                    <span>Mobile</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <input type="password" #Password [value]="row?.user?.mobile"
                      (click)="Password.type = Password.type === 'password' ? 'text' : 'password';"
                      [ngStyle]="rowIndex % 2 == 0 ? {'background-color':'#f2f2f2'} : ''"
                      style="cursor: pointer; border: none" readonly>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true">
                  <ng-template ngx-datatable-header-template>
                    <span>Role</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row?.role?.role_name || '-' }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="true" name="Id">
                  <ng-template ngx-datatable-header-template>
                    <span>Added On</span>
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row?.created_at | date:'dd MMM, yyyy, h:mm a' || '-' }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [sortable]="false">
                  <ng-template let-column="column" ngx-datatable-header-template>
                    Action
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a [routerLink]="['/user/view']" title="View Detail" [queryParams]="{ id: row.id }"
                      class="btn btn-secondary mr-1 btn-fab">
                      <i class="ft-eye"></i>
                    </a>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="centreUserForm" (ngSubmit)="addUser()" novalidate>
    <div class="modal-body">
      <div class="form-group row">
        <label class="col-md-3" for="centre_id">
          Centre<sup class='text-danger'>*</sup>
        </label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="centre_id" [value]="centre?.centre_name" disabled>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3" for="role_id">
          Role<sup class='text-danger'>*</sup>
        </label>
        <div class="col-md-9">
          <select class="form-control" formControlName="role_id">
            <option value="" selected>Choose Role</option>
            <option *ngFor="let role of roles" [ngValue]="role.id">
              {{ role.role_name }}
            </option>
          </select>
          <app-control-messages fieldName="Role" [control]="centreUserForm.controls['role_id']">
          </app-control-messages>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
</ng-template>

<!--Centre View Completed-->