<router-outlet></router-outlet>
<ngx-spinner bdOpacity="0" bdColor="rgba(255,255,255,0.6)" size="large" color="#000000" type="ball-circus"
    [fullScreen]="true">
    <p style="color: #000000"> Loading... </p>
</ngx-spinner>