<!--Footer Starts-->
<footer>
    <div class="container-fluid">
        <p class="copyright pull-left">
            &copy; {{ currentDate | date: "yyyy" }} <a>Fiscus</a>
            <!--&copy;  <a>PIXINVENT</a>, made with love for a better web-->
        </p>
    </div>
</footer>
<!--Footer Ends-->